.searchhead{
    background-color:#C0C5C3;
    color:#fff;
}

.search div{
    display: inline-block;
    padding: 10px 0;
    text-align:center;
}

.search div:nth-of-type(1){
    width:140px;
}
.search div:nth-of-type(2){
    width:200px;
}
.search div:nth-of-type(3){
    width:250px;
}
.search div:nth-of-type(4){
    width:140px;
}
.search div:nth-of-type(5){
    width:200px;
}
.search div:nth-of-type(6){
    width:100px;
}
.search div:nth-of-type(7){
    width:50px;
}
.search div:nth-of-type(8){
    width:200px;
}
.comment div{
    display: inline-block;
    padding: 10px 0;
    text-align:center;
}

.comment div:nth-of-type(1){
    width:10px;
}
.comment div:nth-of-type(2){
    width:600px;
}
.comment div:nth-of-type(3){
    width:250px;
}